nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    a.navbar-brand(href='#') TODO List
    button.navbar-toggler.hidden-sm-up(
        type='button',
        data-toggle='collapse',
        data-target='#collapsingNavbar'
    )
        | &#9776;
    .collapse.navbar-toggleable-xs#collapsingNavbar
        ul.nav.navbar-nav
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/about') About
.container
    +yield
.footer
    .container
        p.text-muted TODO List, 2016.